	<h2>Впервые здесь?</h2>
	<p>Вы можете зарегистрироваться!</p>
	<p>Что это дает?</p>
		<ul>
			<li>Добавление достопримечательностей в избранное</li>
			<li>Создание собственных поездок с планированием по дням</li>
			<li>Совместное редактирование поездок</li>
			<li>Создание альбомов с фотографиями</li>
		</ul>
	<p>Наконец, мы будем очень рады, что вы с нами :)</p>
	<p>Для регистрации потребуются электронная почта, фамилия, имя и пароль.</p>
	<button id='go-reg'>Перейти к регистрации</button>