	<h2>Впервые здесь?</h2>
	<p>
		Вы можете зарегистрироваться!
		Что это дает?
		- добавление достопримечательностей в избранное
		- создание собственных поездок с планированием по дням
		- совместное редактирование поездок
		- создание альбомов с фотографиями
		Наконец, мы будем очень рады, что вы с нами.
		Для регистрации потребуются электронная почта, фамилия, имя и пароль.
	</p>