	<h2>Плюсы регистрации</h2>
	<p>
		- добавление достопримечательностей в избранное
		- создание собственных поездок с планированием по дням
		- совместное редактирование поездок
		- создание альбомов с фотографиями
		Будем рады видеть вас на нашем сайте!
	</p>