	<h2>Плюсы регистрации</h2>
	<ul>
		<li>- Добавление достопримечательностей в избранное</li>
		<li>- Создание собственных поездок с планированием по дням</li>
		<li>- Совместное редактирование поездок</li>
		<li>- Создание альбомов с фотографиями</li>
	</ul>
	<p>Будем рады видеть вас на нашем сайте!</p>
