<div id="data__holder">
    <div class="header_holder" id ="header__holder">
        <h2 class="header__default cardlist__header__main">
            Лучшие достопримечательности {{name}}
        </h2>
    </div>
    
    <div class="card__grid card__grid__3" id="card-grid-wrapper"></div>
</div>