			<div class="footer">
				<p>
				SnakeAlive on GitHub: <a href="https://github.com/go-park-mail-ru/2021_2_SnakeAlive">backend</a> | <a href="https://github.com/frontend-park-mail-ru/2021_2_SnakeAlive">frontend</a>
				</p>
			</div>