<div id='profile' class="profile">
    <div class="profile__photo" id="profile__photo">
        <img src="{{profileImage}}" alt="">
    </div>
    <div id="profile__name-holder" class="profile__name-holder">{{meta.name}} {{meta.surname}}</div>
    <div id="btn_block" class="profile__btn-block">
        <button id="profile__edit_btn" class="profile__edit-btn">Редактировать</button>
        <button id="profile__logout_btn" class="profile__close-btn">Выйти</button>
    </div>
</div>