<form id="review_creator" class="form_review">

	<div id="active_form_area">

	<div class="form__input_holder">
		<label for="title">Кратко</label>
		<input type="text" id="title" name="title" class="form__input"/>
	</div>

	<div class="rating-area">
		<input type="radio" id="star-5" name="rating" value="5">
		<label for="star-5" title="Оценка «5»"></label>
		<input type="radio" id="star-4" name="rating" value="4">
		<label for="star-4" title="Оценка «4»"></label>
		<input type="radio" id="star-3" name="rating" value="3">
		<label for="star-3" title="Оценка «3»"></label>
		<input type="radio" id="star-2" name="rating" value="2">
		<label for="star-2" title="Оценка «2»"></label>
		<input type="radio" id="star-1" name="rating" value="1">
		<label for="star-1" title="Оценка «1»"></label>
	</div>

	<div class="form__input_holder">
		<label for="msg">Подробно</label>
		<div class="form__input_holder__text">
			<div class="comment_text_hidden">
				<div class="textarea_behavior" id="comment_text_hidden">
				</div>
			</div>
			<textarea class="textarea_behavior" rows="3" id="comment_text"></textarea>
		</div>
	</div>

	</div>

	<p id="review_error" class="form_review__error">Укажите как минимум рейтинг</p>
		<div class="form_review__submit_holder">
			<div>
			<button type="submit" id="review_submit" class="usual_button usual_button_dark">Опубликовать</button>
				</div>
				<div class="form_review__submit_holder__answer" id="form__submit_holder__answer">
					<p class="form_review__submit_holder__answer__text" >Вы уверены?</p>
					<button id="answer_button" class="usual_button usual_button_light">Да</button>
			</div>
		</div>
</form>