<div class='album_page'>
	<div class='album_page__left_col'>

		<div id="album_page__left_col__info" class="album_page__left_col__info"></div>

		<div id="album_page__photo_holder_left"></div>
	</div>

	<div class='album_page__right_col'>
    <div class="usual_button usual_button_dark add_photos_btn" id="add_photos_btn">
    	Добавить фотографии
    </div>
		<input type="file" class="album_page__right_col__upload_box" id="add_photos_input" value="" placeholder=""/>


		<div id="album_page__photo_holder_right">
		</div>
	</div>
</div>
