<div class="frame album_info_block">
	<div> <h2>{{title}}</h2> </div>
	<div> <p>{{description}}</p> </div>
    <div class="string-left">
        <button class="usual_button usual_button_dark" id="go_edit">Редактировать</button>
			<button class="usual_button usual_button_light btn_make_and_finish" id='btn_make_and_go_trip'>Перейти к поездке</button>
    </div>
</div>