{{#each photosRight}}
    <div id="album_page__photo_holder_place_{{this}}" class="album_page__photo_holder_place">
        {{#if isEdit}}
            <button id="delete_photo_{{this}}" class="usual_button usual_button_light"></button>
        {{/if}}
        <img src='{{this}}' alt='photo'>
    </div>
{{/each}}
