<div class="frame">
    <div>{{title}}</div>
    <div>{{description}}</div>
    <div class="string-left">
        <button class="usual_button usual_button_dark" id="go_edit">Редактировать</button>
{{!--                     <button class="usual_button usual_button_light" id="delete_btn">Удалить альбом</button> --}}
    </div>
</div>