@import "../../index";

$logo_height: 48px;

.header {
  grid-column-start: 1;
  grid-column-end: 19;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid $my--frame-border;

  display: grid;
  grid-template: "ml c c c c mr"  / 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;

  background: white;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $small-px;
    padding: ($header_height - $logo_height)/2 0;
    &__text {
      @include text-header;
    }
    &__img {
      height: $logo_height;
    }
  }
  &__logo:hover {
    // указатель мыши
    cursor: pointer;
  }
  &__wrapper {
    grid-area: c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    height: 100%;
    padding: 0 $small-px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    > p {
      @include text-small;
    }
  }
  &__button:hover {
    background: $my--button-header-hover;
    cursor: pointer;
  }
}
