<div class='error_page'>
	<p2>Отсутствует интернет</p2>
	<img src="/offline/aircraft_offline.svg" class="error_page__img"/>
	<button class="usual_button usual_button_dark" id="refresh">Перезагрузить страницу</button>
</div>