@import "../../index";

.search_area {
  background: $my--input-fill;
  border: 0.5px solid $my--input-border;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  @include text-plain-no-wrap;
  outline: none;
  padding: 1px 5px;

  display: flex;
  flex-direction: row;
  &__input,
  &__input:active,
  &__input:focus,
  &__input:hover {
    &::-webkit-calendar-picker-indicator {
      display: none !important;
    }
    border: none;
    padding: 0 5px;
  }
}

.page_category_active {
  background-color: $logo-color;
}

.cat_SP {
  width: 100%;
}

.search_page {
  &__holder {
    display: grid;
    @media all {
      grid-template: "ml ch mr" 400px
                      "ml cb mr" auto / 1fr 4fr 1fr;
    }

    &__header {
      grid-area: ch;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: $large-px * 4;
    }

    &__cards {
      grid-area: cb;
    }
  }
}
