.startBtn {
    font-size: var(--text-large);
    color: var(--color-yellow);

    margin-left: 15px;
    padding: 5px;
    background-color: var(--color-white);
    border: none;
}
.startBtn:hover {
    color: var(--color-white);
    background-color: var(--color-yellow);
}

.startInput {
    size: var(--text-normal);
}

.line > * {
    display: inline;
    /* background-color: chocolate; */
}

.err {
    margin-top: 15px;
    background-color: rgb(224, 123, 123);
}

.err  > span {
    margin: 0;
    color: var(--color-red);
    font-size: 10px;
}


.startForm {
    /* width: max-content; */
    text-align: center;
    background-color: coral;
    padding: 10px;
}

.startForm > form {
    background-color: darkgoldenrod;
    /* width: max-content; */
}
/* установить margin из JS */