<div class="trip_page">
	<div class="trip_page__left">
		<div class="trip_page__left__info" id="trip-info">

		</div>
	</div>
	<div class="trip_page__map">
		<div class='trip_page__map__image_container'>
			<img src='{{ mapPicturePath }}' class='trip_page__map__image'>
		</div>
	</div>
</div>