<div id="trip_info_holder" class='frame'>
<h2>{{title}}</h2>
<p>{{description}}</p>
<button class="usual_button usual_button_light" id="btn-red-trip">Редактировать</button>
</div>

<div id="trip_cards_holder"></div>