<div class="trip_page">
	<div class="trip_page__left">
		<div class="trip_page__left__info" id="trip-info">

		</div>
	</div>
	<div class="trip_page__map">
		 <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmfwtc-cyEkyrSqWaUfeRBRMV6dvOAnpg&callback=initMap&v=weekly"
      async
    ></script>
		<div class='trip_page__map' id='map'></div>
	</div>
</div>
